<!-- old syntax
<div class="course-card"
*ngIf="course"
[ngClass]="cardClasses()"
>
  <div class="course-title">{{cardIndex + '. ' + course.description}}</div>
  <img
	*ngIf="course.iconUrl else noImage"
	[src]="course.iconUrl"
    width="300"
    alt="Angular Logo"
  /> 

	<ng-template #noImage>
		<p>No image avialable</p>
	</ng-template>
-->

<div class="course-card" *ngIf="course" #container>
  <div class="course-title">
		{{ cardIndex || '' + ' ' + course.description}}
	</div>

	<ng-content select="card-img"></ng-content>

	<ng-content select=".course-description"></ng-content>



	<!-- old depracated syntax -->

		<div class="course-category" [ngSwitch]="course.category">
			<ng-container *ngSwitchCase="'BEGINNER'">
				<div class="category">BEGINNER</div>
			</ng-container>

			<ng-container *ngSwitchCase="'INTERMEDIATE'">
				<div class="category">INTERMEDIATE</div>
			</ng-container>

			<ng-container *ngSwitchCase="'ADVANCED'">
				<div class="category">ADVANCED</div>
			</ng-container>

			<ng-container *ngSwitchCase="'UNKNOWN'">
				<div class="category">UNKNOWN</div>
			</ng-container>
			
	</div>

	<!-- <div class="course-category">
		@switch(course.category) {
			@case ("BEGINNER") {
				<div class="category">BEGINNER</div>
			}
			@case ("INTERMEDIATE") {
				<div class="category">INTERMEDIATE</div>
			}
			@case ("ADVANCED") {
				<div class="category">ADVANCED</div>
			}
			@default {
				<div class="category">UNKNOWN</div>
			}
		}
	</div> -->

	<button (click)="onCourseViwed()">View Course</button>
</div>
