<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>


@for (course of courses; track course.id) {
	<div class="courses">
    <course-card (courseSelected)="onCourseSelected($event)" [course]="course">
			<card-img [src]="course.iconUrl"></card-img>
      <div class="course-description">{{ course.longDescription }}</div>
    </course-card>
		</div>
  }


<!-- <div class="courses" *ngIf="courses[0] as course">
  <course-card (courseSelected)="onCourseSelected($event)" [course]="course">
    <course-image [src]="course.iconUrl"></course-image>

    <div class="course-description">
      {{ course.longDescription }}
    </div>

    Edit description <textarea></textarea>
  </course-card>
</div> -->
