<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>
<!-- No image is available yet. -->
<!-- @for (course of courses; track course.id) { -->
<div class="courses" *ngIf="courses[0] as course">
  


	<!-- <div *ngTemplateOutlet="blankImage; context: {description: course.description}"></div>

	<div *ngTemplateOutlet="blankImage; context: {description: courses[1].description}"></div>

	<ng-container *ngTemplateOutlet="blankImage; context: {description: courses[2].description}"></ng-container>
	<hr>
	<hr> -->

		<ng-template #blankImage let-courseName="description">
    <p class="warn">{{courseName}}</p>
    <img src="/assets/empty-image.png" alt="" />
  </ng-template>

  <course-card (courseSelected)="onCourseSelected($event)" [course]="course" [noImageTpl]="blankImage">
    <card-img [src]="course.iconUrl"></card-img>

    <div class="course-description">{{ course.longDescription }}</div>
  </course-card>
</div>
<!-- } -->

<!-- <div class="courses" *ngIf="courses[0] as course">
  <course-card (courseSelected)="onCourseSelected($event)" [course]="course">
    <course-image [src]="course.iconUrl"></course-image>

    <div class="course-description">
      {{ course.longDescription }}
    </div>

    Edit description <textarea></textarea>
  </course-card>
</div> -->
